
body {
    font-family: "Oswald", sans-serif;
    color: #212121;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Tahoma';
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.page-nav .link {
    text-decoration: none;
    text-transform: uppercase;
}

.page-title {
    font-size: 32px;
    text-align: center;
    line-height: 1.333;
    letter-spacing: 3px;
}

.section-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 1.333;
    letter-spacing: 1px;
}

.club-list .title {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.333;
}