body {
    font-family: "Poppins", sans-serif;
}

.page-title {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.section-title {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.club-list .title {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
}